.login-wrapper {
  display: flex;
  height: 100vh;
  background: #6c757d;
  align-items: center;
  justify-content: center;
}

.login-left {
  width: 35%;
  background: #1e1e2f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 390px;
  justify-content: center;
  padding: 50px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.logo {
  width: 80px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 14px;
  opacity: 0.8;
}

.login-left h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

.login-right {
  width: 35%;
  background: white;
  height: 390px;
  padding: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-right h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #e9f1ff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.input-group .icon {
  font-size: 18px;
  color: #007bff;
  margin-right: 10px;
}

.input-group input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}

.login-right p {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.login-right a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.igess{
  font-size: 50px;
  margin-bottom: 15px;
}

.login-right a:hover {
  text-decoration: underline;
}
