.group-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-left: 290px;
  margin-top: 30px;
  height: auto;
  padding: 20px;
  
}

.items-container {
  width: 55%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.members-container {
  width: 40%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.member-card {
  display: flex;
  align-items: center;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.member-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.member-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.member-info strong {
  font-size: 16px;
  color: #333;
}

.members{
  width: 45%;
  padding: 30px;
  background-color: #f8f9fa;
}

.member-info p {
  font-size: 14px;
  color: #777;
}

.remove-btn {
  background: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn{
  margin: 0;
}

.remove-btn:hover {
  color: darkred;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.back-btn, .delete-btn {
  padding:15px;
  border: none;
  width: 200px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}

.back-btn {
  background-color: #007bff;
  color: white;
}

.back-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #b02a37;
}
